.header {
  text-align: center;
}

.wrapper {
  display: inline-block;
}

.title {
  text-align: center;
  font-size: 30px;
}

.items {
  display: flex;
  flex-direction: column;
  gap: 10px;

  @media (min-width: 768px) {
    flex-direction: row;
  }

  .card {
    flex: 1;

    &__name {
      color: white;
      text-transform: uppercase;
      text-align: center;
    }

    &__content {
      color: white;
      height: 90px;
      align-self: stretch;
      flex-grow: 0;
      font-size: 21px;
      font-weight: 300;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.43;
      letter-spacing: normal;
      text-align: center;
    }
  }

  img {
    width: 100%;
  }
}
