.header {
  text-align: center;
}

.wrapper {
  display: inline-block;
}

.title {
  text-align: center;
  font-size: 30px;
  margin-bottom: 30px;
}

.items {
  display: flex;
  flex-direction: column;
  gap: 10px;

  @media (min-width: 768px) {
    flex-direction: row;
  }

  .card {
    flex: 1;

    &__name {
      color: white;
      text-transform: uppercase;
      text-align: center;
    }

    &__content {
      width: 100%;
      margin: 0 auto;
      color: white;
      height: 90px;
      align-self: stretch;
      flex-grow: 0;
      font-size: 21px;
      font-weight: 300;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.43;
      letter-spacing: normal;
      text-align: center;

      @media (min-width: 768px) {
        width: 315px;
      }
    }
  }

  img {
    width: 100%;

    &.img-animate {
      transition: transform 0.5s ease, box-shadow 0.5s ease;
      border-radius: 12px;
    }

    &.img-animate:hover,
    &.img-animate:active {
      transform: scale(1.05);
      box-shadow: 0 10px 20px rgba(0,0,0,0.3);
    }
  }
}
