h2 {
  height: 66px;
  flex-grow: 1;
  font-family: OpenSans;
  font-size: 30px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.1;
  letter-spacing: 1.5px;
  text-align: left;
  color: #fff;
}