@use '../abstracts/mixins';

.row {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 120px 0;
  padding: 10px;

  @include mixins.breakpoint-md {
    flex-direction: row;
    padding: 0;
  }

  &--first {
    margin-top: 0;

    @include mixins.breakpoint-md {
      margin-top: 120px;
    }
  }
}

.col {
  flex: 1;

  &--70 {
    @include mixins.breakpoint-md {
      flex: 3;
    }
  }
}
