@use 'base/headings';
@use 'base/body';
@use 'layout/layout';
@use 'utilities/flexbox';
@use 'components/ds';
@use 'components/cards';
@use 'components/tb';

.main {
  width: 100%;
  margin: 0 auto;

  @media (min-width: 768px) {
    width: 1400px;
  }
}
